
Software/ThingSpeakMKRENV/secrets.h
Software/ThingSpeakMKRENV/.vscode/c_cpp_properties.json
Software/ThingSpeakMKRENV/.vscode/arduino.json
Software/ThingSpeakMKRENV/ThingSpeakMKRENV.arduino.samd.mkrwifi1010.elf
Software/ThingSpeakMKRENV/ThingSpeakMKRENV.arduino.samd.mkrwifi1010.bin
.vscode/c_cpp_properties.json
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b#1
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b#2
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b#3
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b#4
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b#5
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b#6
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b#7
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b#8
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b#9
Hardware/EagleCAD/mkr1010_envMonitor_schematic.s#1
Hardware/EagleCAD/mkr1010_envMonitor_schematic.s#2
Hardware/EagleCAD/mkr1010_envMonitor_schematic.s#3
Hardware/EagleCAD/mkr1010_envMonitor_schematic.b##
